body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

table {
  border: 4px solid #0d2357;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  border-spacing: 0;
}

th,
td {
  padding: 10px;
}

table thead {
  background-color: #0d2357;
  color: #fff;
}

table tbody tr:nth-child(even) {
  background-color: #f4f7fa;
}

table tbody tr:nth-child(odd) {
  background-color: #fff;
}

table tbody tr:hover {
  background-color: #e9eff5;
}

.product-name {
  padding: 5px;
}

.default-message {
  font-size: 2em;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.status-filter-button,.status-select {
  padding: 10px 15px;
  background-color: #2a2f87;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 5px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.status-filter-button:hover{
  scale: 1.1;
}

.dashboard-container {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  flex-grow: 1;
}

.dashboard-container .header {
  font-size: 2em;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  background-color: #0d2357;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.order-status-selector {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}

.selected-status, option {
  background-color: #00bfff;
}

.dashboard-container .order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-container .order {
  display: flex;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}