/* General Styles */
body {
  background: linear-gradient(to bottom, #f0f4f8, #d9e2ec);
  margin: 0;
  padding: 20px;
  color: #db1111;
}

/* Header Styles */
h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #1c2e4a;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Form Styles */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  background-color: #091234;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
form label {
  font-weight: bold;
  color: #ffffff;
}

form select,
form input {
  padding: 8px 8px;
  border: 2px solid #bfc7d5;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
}

form button {
  background: #ffffff;
  color: #091234;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

/* Hover Effect for Button */
form button:hover {
  background-color: #091234; /* Dark background on hover */
  color: #ffffff; /* Change text color to white on hover */
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
}

table thead {
  background-color: #0d2357;
  color: #fff;
}

table thead th {
  padding: 15px;
  font-size: 1.2rem;
}

table tbody tr:nth-child(even) {
  background-color: #f4f7fa;
}

table tbody tr:nth-child(odd) {
  background-color: #fff;
}

table tbody td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  color: #555;
}

table tbody tr:hover {
  background-color: #e9eff5;
}

.container {
  flex-grow: 1;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
    gap: 5px;
  }

  table thead {
    font-size: 1rem;
  }

  table tbody td {
    font-size: 0.9rem;
    padding: 10px;
  }
}
