<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='delivery_dashboard.css') }}">
        <title>Delivery Person Dashboard</title>
        <style>
            body {
        font-family: 'Roboto', sans-serif;
        background-image: url('{{ url_for("static", filename="videos/admin image.jpg") }}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #333;
        position: relative;
    }
    
    /* Overlay to reduce opacity */
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9); /* Adjust transparency here */
        z-index: -1;
    }
    </style>
    </head>

    {% extends 'home.html' %}
    {% block content %}
    <div class="dashboard-container">
        <div class="header">Delivery Dashboard</div>
        <div class="order-status-selector">
            Select Order Status :
            {% for order_status in order_status_options %}
            <button class="status-filter-button" id="{{order_status}}"
                onclick="filter_by_order_status('{{order_status}}');">
                {{order_status}}
            </button>
            {% endfor %}
        </div>
        <div id="orders-table">
        </div>

    </div>

    <script>
        let selected_status_filter = "{{order_status_options[0]}}";
        window.onload(refresh_selected_status_filter());
        function filter_by_order_status(new_status_filter) {
            const orders_table_url = new URL("{{ url_for('delivery_person.filtered_orders_table') }}", window.location.origin);
            orders_table_url.searchParams.append("order_status", new_status_filter);
            fetch(orders_table_url, { method: "GET" }).then(
                (response) => {
                    if (response.ok) {
                        const old_selected_status_button = document.getElementById(selected_status_filter);
                        old_selected_status_button.classList.remove("selected-status");

                        const new_selected_status_button = document.getElementById(new_status_filter);
                        new_selected_status_button.classList.add("selected-status");
                        selected_status_filter = new_status_filter;

                        const orders_table_div = document.getElementById("orders-table");
                        response.text().then(
                            (orders_table) => {
                                orders_table_div.innerHTML = orders_table;
                            }
                        );
                    } else {
                        alert("Unable to get orders table.")
                    }
                }
            );
        }
        function refresh_selected_status_filter() {
            filter_by_order_status(selected_status_filter);
        }
        function updateStatus(orderId, new_status) {
            fetch('{{ url_for("delivery_person.update_status") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ order_id: orderId, status: new_status }),
            })
                .then(response => {
                    return response.json(); // Parse the JSON response
                })
                .then(data => {
                    if (data.message) {
                        // alert(data.message);
                        // refresh the current table after a status change
                        refresh_selected_status_filter();
                    } else if (data.error) {
                        alert(data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        function assign_order(order_id) {
            fetch("{{ url_for('delivery_person.assign_order') }}", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ order_id }),
            }).then(
                (response) => {
                    refresh_selected_status_filter();
                    if (!response.ok) {
                        response.text().then(
                            (message) => { alert(message) }
                        );
                    }
                }
            );

        }
    </script>

    {% endblock %}

</html>