<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <h1 class="website-name">UrbanThreads</h1>
        </div>
        <div class="navbar-center">
            <div class="search-container">
                <input type="text" class="search-bar" placeholder="Search...">
                <button class="search-btn">Search</button>
            </div>
        </div>

        {% if current_user.is_authenticated %}
        <div class="navbar-right">
            <button class="btn cart-btn">Cart</button>
            <a href="{{ url_for('auth.logout') }}" class="btn logout-btn">Logout</a>
            <a href="{{ url_for('auth.profile', id=current_user.id) }}" class="btn profile-btn">Profile</a>
        {% if current_user.role == 'admin' %}
            <a href="{{ url_for('main.default_dashboard') }}" class="btn admin-btn">Admin Dashboard</a>

    {% endif %}
        </div>
        {% else %}
        <div class="navbar-right">
            <button class="btn cart-btn">Cart</button>
            <a href="{{ url_for('auth.register') }}" class="btn register-btn">Register</a>
            <a href="{{ url_for('auth.login') }}" class="btn login-btn">Login</a>
        </div>
        {% endif %}
    </nav>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 UrbanThreads. All rights reserved.</p>
    </footer>
</body>
</html>
