<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function validatePasswords(event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            const errorMessage = document.getElementById('error-message');

            if (password !== confirmPassword) {
                event.preventDefault();
                errorMessage.textContent = "Passwords do not match. Please try again.";
                errorMessage.style.display = "block";
            } else {
                errorMessage.style.display = "none";
            }
        }
    </script>
    
</head>
<body>
    <div class="form-container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <h2>Reset Password</h2>
        <form action="{{ url_for('password.reset_token', token=token) }}" method="POST" onsubmit="validatePasswords(event)">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm_password" required>
            </div>
            <div id="error-message" style="color: red; display: none;"></div>
            <div class="buttons">
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</body>
</html>
